[submodule "AnalysisTools/TriggerEfficiencies/Start Devs"]
	path = AnalysisTools/TriggerEfficiencies/Start Devs
	url = https://github.com/GasperJu/ScoutingDijetAN.git
[submodule "AnalysisTools/SigMC-studies/ScoutingDijetAN"]
	path = AnalysisTools/SigMC-studies/ScoutingDijetAN
	url = https://github.com/GasperJu/ScoutingDijetAN.git
[submodule "AnalysisTools/SigMC_Gen_Reco-Acc/Start Devs"]
	path = AnalysisTools/SigMC_Gen_Reco-Acc/Start Devs
	url = https://github.com/GasperJu/ScoutingDijetAN.git
